label {

    display: block;
    margin-top: 10px;

}
 span{

     color: red;
}
input{

  border: 1px solid #bebebe;
  padding:10px;
  margin-right:


}
.fixe {

    width: : 500px;

}
button {

    background-color: rgb(55, 65, 156);
    

}
